.custom-navbar-color {
  background-color: #A25460;
}

.navbar {
  height: 15vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

@media only screen and (min-width: 2560px) {
  .navbar-brand {
    font-size: xxx-large;
  }
}

