.add-button{
  justify-content: center;
  display: flex;
  margin-top: 1vh;
}

.bold {
  font-size: small;
  font-weight: bold;
}

.normal-text {
  font-size: small;
  text-decoration: underline;
}

.name{
  font-size: large;
}

.responsive-image {
  width: auto;
  height: auto;
  max-width: 50%;
  display: block;
}

.not-available{
  font-size: 1rem;
}

.card-body.text-right {
  padding-left: 0;
}

.card-container {
  margin-top: 4vh; /* Space before the first card */
  margin-bottom: 5vh; /* Space after the last card */
}

.card {
  margin: 2vh; /* Space between cards */
  border: 1px solid lightgray;
}

.card-body{
  padding: 0;
}

.image-div{
  display: inline-grid;
  justify-items: center;
}

.col-3{
  height: 20vh;
}

.container{
  margin: 15vh 0 0 0;
  overflow-y: auto;
  height: calc(100vh - 15vh);
  min-width: 100%;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-text.description {
  margin-bottom: 10px;
}
