.container {
  margin: 15vh 0 0 0;
  overflow-y: auto;
  height: calc(100vh - 15vh);
  min-width: 100%;
}

.add-button {
  justify-content: center;
  display: flex;
  margin-top: 1vh;
}

.bold-captain, .bold-robots {
  font-weight: bold;
}

.bold-captain {
  font-size: x-small;
}

.underline-text {
  text-decoration: underline;
}

.not-available {
  font-size: 1rem;
}

.card-container {
  margin-top: 4vh; /* Space before the first card */
  margin-bottom: 5vh; /* Space after the last card */
}

.card {
  margin: 2vh;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}

.card-body {
  padding: 0;
  justify-content: center;
  justify-items: center;
}

.card-body.text-right {
  padding: 1vh 0 0 0;
}

.first-column-body {
  padding: 0;
  display: flex;
  justify-content: center;
}

.image-div {
  align-items: center;
  justify-content: center;
  display: grid;
  max-height: 20vh;
}

.responsive-image {
  width: auto;
  max-height: 15vh;
  margin: 0 auto;
}

.col-3, .col-6 {
  height: 20vh;
  max-height: 20vh;
}

.col-3 {
  padding: 0 0 0 6%;
}

.col-6 {
  padding: 0 1vh 0 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.captain {
  margin: 0;
}

.status {
  padding: 0 0 0 2vh;
}

.name {
  font-size: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* planet name */
@media only screen and (max-width: 767px) {
  .name {
    max-width: 7ch;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
  .name {
    font-size: large;
  }
}

/* very big screen */
@media only screen and (min-width: 2560px) {
  .name {
    font-size: xxx-large;
  }

  .robots {
    font-size: x-large;
  }

  .captain, .underline-text {
    font-size: x-large;
  }

  .not-available, .description {
    font-size: xx-large;
  }

  .status-size {
    font-size: xx-large;
  }
}


/* robots */
@media only screen and (max-width: 767px) {
  .robots {
    font-size: small;
  }
}

@media only screen and (min-width: 768px) and (max-width: 2559px) {
  .robots {
    font-size: medium;
  }
}

/* captain */
@media only screen and (max-width: 767px) {
  .captain, .underline-text {
    font-size: x-small;
  }
}

@media only screen and (min-width: 768px) and (max-width: 2559px) {
  .captain, .underline-text {
    font-size: small;
  }
}

/* status */
@media only screen and (max-width: 767px) {
  .status-size {
    font-size: x-small;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1559px) {
  .status-size {
    font-size: large;
  }
}

/* description */
@media only screen and (max-width: 767px) {
  .not-available, .description {
    font-size: small;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1559px) {
  .not-available, .description {
    font-size: large;
  }
}

@media only screen and (max-width: 767px) {
  .description {
    -webkit-line-clamp: 3;
  }
}

@media only screen and (min-width: 768px) {
  .description {
    -webkit-line-clamp: 2
  }
}

