<div class="container">

  <div class="add-button">
    <button type="button" class="btn btn-custom" (click)="goToAdd()">Add planet</button>
  </div>

  <div class="card-container">
    <div class="card" *ngFor="let planet of planets" (click)="goToEdit(planet.id)">
      <div class="row no-gutters justify-content-center align-items-center">

        <div class="col-3 col-md-3 d-flex align-items-center justify-content-center">
          <div class="image-div">
            <img src="assets/{{planet.imagePath}}" class="card-img img-fluid responsive-image" alt="Planet Image">
            <div class="first-column-body">
              <h6 class="name"><b>{{planet.name}}</b></h6>
            </div>
          </div>
        </div>

        <!-- Second Column -->
        <div class="col-6 col-md-6" *ngIf="planet.description">
          <div class="card-body text-right">
            <p class="card-text description">"{{planet.description}}"</p>
          </div>
          <div class="explorers">
            <p class="captain"><span class="bold-captain">by captain: </span> <span class="underline-text">{{planet.captain}}</span></p>
            <div class="robots">
              <p><span class="bold-robots">Robots: </span>{{ getFormattedRobotList(planet.robots) }}</p>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-6" *ngIf="!planet.description">
          <p class="not-available">No description yet :/</p>
        </div>

        <!-- Third Column -->
        <div class="col-3 col-md-3 d-flex align-items-center status">

          <div style="text-align: center;">
            <div class="card-body">
              <div [ngSwitch]="planet.status" class="status-size">
                <span *ngSwitchCase="0" style="color: blue"><b>TODO</b></span>
                <span *ngSwitchCase="1" style="color: grey"><b>En route</b></span>
                <span *ngSwitchCase="2" style="color: limegreen"><b>OK</b></span>
                <span *ngSwitchCase="3" style="color: red"><b>!OK</b></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div>
    <p *ngIf="!planets || planets.length == 0">No planets available...</p>
  </div>

</div>
